# Preparation

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#Baca Data
dea_2016 = pd.read_excel('dea_2016.xlsx')
dea_2017 = pd.read_excel('dea_2017.xlsx')
dea_2018 = pd.read_excel('dea_2018.xlsx')
dea_2019 = pd.read_excel('dea_2019.xlsx')
dea_2020 = pd.read_excel('dea_2020.xlsx')

In [3]:
# menghapus kolom 'Nama_satker'
scaled_2016 = dea_2016.drop(columns=['Nama_satker'], axis=1)
scaled_2017 = dea_2017.drop(columns=['Nama_satker'], axis=1)
scaled_2018 = dea_2018.drop(columns=['Nama_satker'], axis=1)
scaled_2019 = dea_2019.drop(columns=['Nama_satker'], axis=1)
scaled_2020 = dea_2020.drop(columns=['Nama_satker'], axis=1)

In [4]:
#Daftar Satker
dea_2016['Nama_satker'].value_counts()

RS PON                                 1
RS. OTAK DR. Drs. Hatta BUKITTINGGI    1
RSU WAHIDIN MAKASSAR                   1
RS Kandou Manado                       1
RS Adam Malik                          1
RS Jantung Harkit                      1
RSAB Harkit                            1
RSPI Sulianti Saroso                   1
RS Ketergantungan Obat                 1
RS Sanglah Denpasar                    1
RSUP dr Rivai Palembang                1
RSUP M Hoesin                          1
RSU DR M JAMIL PADANG                  1
RSJ Lawang                             1
RSU SARDJITO YOGYAKARTA                1
RS Soeradji                            1
RS Orthopedi                           1
RS Paru Ario Wirawan                   1
RSJ Soeroyo                            1
RS Kariadi                             1
RS Sitanala                            1
RS Paru Gunawan                        1
RS Marzuki Mahdi                       1
RS Mata Cicendo                        1
RS Rotinsulu                           1
RSU HASAN SADIKIN BANDUNG              1
RSJ dr Soeharto Heerdjan               1
RS Persahabatan                        1
RS Fatmawati                           1
RS Cipto Mangunkusumo                  1
RS Tadjudin Chalid                     1
RSK Dharmais                           1
Name: Nama_satker, dtype: int64

In [5]:
dea_2016.columns

Index(['Kode_satker', 'Nama_satker', 'Tahun', 'SDM_medis_total',
       'SDM_non_medis_total', 'Jumlah_tempat_tidur', 'Belanja',
       'Pasien_rawat_inap_orang', 'Pasien_rawat_jalan_orang', 'BOR_persen',
       'ALOS_hari', 'BTO_kali', 'TOI_hari', 'Pendapatan'],
      dtype='object')

In [6]:
def ganti_kolom(df):
    df = df.rename(columns={'Kode_satker':'DMU','SDM_medis_total': '(I)SDM_medis_total', 'SDM_non_medis_total': '(I)SDM_non_medis_total','Jumlah_tempat_tidur': '(I)Jumlah_tempat_tidur','Belanja': '(I)Belanja','Pasien_rawat_inap_orang': '(O)Pasien_rawat_inap_orang','Pasien_rawat_jalan_orang': '(O)Pasien_rawat_jalan_orang','BOR_persen': '(O)BOR_persen','ALOS_hari': '(O)ALOS_hari','BTO_kali': '(O)BTO_kali','TOI_hari': '(O)TOI_hari','Pendapatan': '(O)Pendapatan'})
    return df

In [7]:
#Tahun 2016
dea_2016 = ganti_kolom(dea_2016)
dea_2016.head()

,DMU,Nama_satker,Tahun,(I)SDM_medis_total,(I)SDM_non_medis_total,(I)Jumlah_tempat_tidur,(I)Belanja,(O)Pasien_rawat_inap_orang,(O)Pasien_rawat_jalan_orang,(O)BOR_persen,(O)ALOS_hari,(O)BTO_kali,(O)TOI_hari,(O)Pendapatan
0,15514,RS PON,2016,517,128,128,229259640027,3194,38661,63.7875,8.915,2.000,5.0850,1.015502e+11
1,257847,RS. OTAK DR. Drs. Hatta BUKITTINGGI,2016,164,416,176,120147341232,7635,39795,65.6650,5.610,3.835,3.0000,4.446990e+10
2,258462,RS Tadjudin Chalid,2016,178,300,150,84575992037,3909,37604,29.0000,7.000,4.250,19.0000,3.045987e+10
3,415423,RS Cipto Mangunkusumo,2016,1503,3990,915,4540392332667,32832,845944,70.2600,6.860,8.970,3.0400,4.349473e+12
4,415432,RS Fatmawati,2016,633,1886,745,857527800552,28575,329622,78.0025,7.825,8.725,2.4475,5.226500e+11

In [8]:
#Tahun 2017
dea_2017 = ganti_kolom(dea_2017)
dea_2017.head()

,DMU,Nama_satker,Tahun,(I)SDM_medis_total,(I)SDM_non_medis_total,(I)Jumlah_tempat_tidur,(I)Belanja,(O)Pasien_rawat_inap_orang,(O)Pasien_rawat_jalan_orang,(O)BOR_persen,(O)ALOS_hari,(O)BTO_kali,(O)TOI_hari,(O)Pendapatan
0,15514,RS PON,2017,550,145,148,2.518652e+11,3614,58982,62.8875,8.4150,2.0825,4.9975,2.251923e+11
1,257847,RS. OTAK DR. Drs. Hatta BUKITTINGGI,2017,159,411,161,1.249235e+11,7186,35114,65.1675,5.4925,3.6650,2.9175,4.830066e+10
2,258462,RS Tadjudin Chalid,2017,177,300,150,1.016226e+11,4502,58868,28.7500,4.5000,6.0000,8.2500,2.401743e+10
3,415423,RS Cipto Mangunkusumo,2017,3591,1882,988,4.931944e+12,37584,910288,70.9250,6.4275,9.5425,2.7850,4.491883e+12
4,415432,RS Fatmawati,2017,635,1855,784,7.072516e+11,27687,313164,69.1275,7.0925,8.8625,3.1775,5.687698e+11

In [9]:
#Tahun 2018
dea_2018 = ganti_kolom(dea_2018)
dea_2018.head()

,DMU,Nama_satker,Tahun,(I)SDM_medis_total,(I)SDM_non_medis_total,(I)Jumlah_tempat_tidur,(I)Belanja,(O)Pasien_rawat_inap_orang,(O)Pasien_rawat_jalan_orang,(O)BOR_persen,(O)ALOS_hari,(O)BTO_kali,(O)TOI_hari,(O)Pendapatan
0,15514,RS PON,2018,612,155,153,239534123869,4755,69671,65.9450,7.7500,2.6650,4.0000,2.000905e+11
1,257847,RS. OTAK DR. Drs. Hatta BUKITTINGGI,2018,161,414,162,111441085215,6886,30321,62.7500,5.3975,3.7500,3.2500,4.922434e+10
2,258462,RS Tadjudin Chalid,2018,190,300,150,168252292424,6598,74567,44.5000,4.0000,9.5000,5.2500,2.996378e+10
3,415423,RS Cipto Mangunkusumo,2018,3492,1808,959,4483942314937,37677,996714,68.8450,5.8350,9.8075,2.9050,4.065349e+12
4,415432,RS Fatmawati,2018,645,1837,784,684747058106,27778,284017,67.3775,6.9950,8.7525,3.4075,5.188550e+11

In [10]:
#Tahun 2019
dea_2019 = ganti_kolom(dea_2019)
dea_2019.head()

,DMU,Nama_satker,Tahun,(I)SDM_medis_total,(I)SDM_non_medis_total,(I)Jumlah_tempat_tidur,(I)Belanja,(O)Pasien_rawat_inap_orang,(O)Pasien_rawat_jalan_orang,(O)BOR_persen,(O)ALOS_hari,(O)BTO_kali,(O)TOI_hari,(O)Pendapatan
0,15514,RS PON,2019,672,162,203,281356737974,6363,88604,63.7525,6.9150,2.8350,4.1675,2.027352e+11
1,257847,RS. OTAK DR. Drs. Hatta BUKITTINGGI,2019,164,399,146,135254263783,6852,22446,65.4150,5.2500,3.9175,2.8350,4.673560e+10
2,258462,RS Tadjudin Chalid,2019,200,311,150,158549128644,7528,76805,44.7450,4.0825,10.5000,4.8325,3.153101e+10
3,415423,RS Cipto Mangunkusumo,2019,1535,3696,931,4732976201114,38754,1216436,69.3675,5.5850,10.4200,2.6900,4.650169e+12
4,415432,RS Fatmawati,2019,646,1721,748,813774969184,29124,312122,64.9375,6.4150,9.2875,3.4575,6.252223e+11

In [11]:
#Tahun 2020
dea_2020 = ganti_kolom(dea_2020)
dea_2020.head()

,DMU,Nama_satker,Tahun,(I)SDM_medis_total,(I)SDM_non_medis_total,(I)Jumlah_tempat_tidur,(I)Belanja,(O)Pasien_rawat_inap_orang,(O)Pasien_rawat_jalan_orang,(O)BOR_persen,(O)ALOS_hari,(O)BTO_kali,(O)TOI_hari,(O)Pendapatan
0,15514,RS PON,2020,724,257,223,338898884632,8208,73668,61.9025,6.1325,3.1425,3.8525,280512704363
1,257847,RS. OTAK DR. Drs. Hatta BUKITTINGGI,2020,166,391,147,109835244465,4271,20835,40.9250,5.7500,2.1650,9.4975,47171479761
2,258462,RS Tadjudin Chalid,2020,211,337,200,251289297037,3596,50029,25.9125,6.2500,4.5000,25.8325,38537828050
3,415423,RS Cipto Mangunkusumo,2020,1563,3627,939,4613567912104,31929,931105,58.3450,5.7425,8.4800,4.7575,4375280607138
4,415432,RS Fatmawati,2020,659,1686,555,1344478499188,20197,218589,59.0250,7.0100,7.8850,4.8275,1155591635823

# Klasterisasi

## Sub Kluster Eks Khusus

In [12]:
#Membagi ke masing-masing sub cluster
def klaster_eks(df):
    dea_eks_khusus = df[(df.Nama_satker == 'RS Tadjudin Chalid') | (df.Nama_satker == 'RS Sitanala')| (df.Nama_satker == 'RSUP dr Rivai Palembang')]
    dea_eks_khusus.reset_index(drop=True, inplace=True)
    return dea_eks_khusus

In [13]:
df_eks_16 = klaster_eks(dea_2016)
df_eks_16

,DMU,Nama_satker,Tahun,(I)SDM_medis_total,(I)SDM_non_medis_total,(I)Jumlah_tempat_tidur,(I)Belanja,(O)Pasien_rawat_inap_orang,(O)Pasien_rawat_jalan_orang,(O)BOR_persen,(O)ALOS_hari,(O)BTO_kali,(O)TOI_hari,(O)Pendapatan
0,258462,RS Tadjudin Chalid,2016,178,300,150,84575992037,3909,37604,29.00,7.0000,4.250,19.0000,3.045987e+10
1,415520,RS Sitanala,2016,312,458,200,97481678502,8396,36145,34.75,4.2500,3.000,6.7500,6.951419e+10
2,415630,RSUP dr Rivai Palembang,2016,165,168,208,44298820510,2963,17980,23.23,6.7825,0.965,26.8775,6.838004e+09

## Sub Kluster Jiwa

In [14]:
#Membagi ke masing-masing sub cluster 
def klaster_jiwa(df):
    dea_jiwa = df[(df.Nama_satker == 'RS Ketergantungan Obat') | (df.Nama_satker == 'RSJ Lawang')| (df.Nama_satker == 'RSJ Soeroyo')|(df.Nama_satker == 'RSJ Lawang')| (df.Nama_satker == 'RSJ dr Soeharto Heerdjan')| (df.Nama_satker == 'RS Marzuki Mahdi')]
    dea_jiwa.reset_index(drop=True, inplace=True)
    return dea_jiwa

In [15]:
df_jiwa_16 = klaster_jiwa(dea_2016)
df_jiwa_16

,DMU,Nama_satker,Tahun,(I)SDM_medis_total,(I)SDM_non_medis_total,(I)Jumlah_tempat_tidur,(I)Belanja,(O)Pasien_rawat_inap_orang,(O)Pasien_rawat_jalan_orang,(O)BOR_persen,(O)ALOS_hari,(O)BTO_kali,(O)TOI_hari,(O)Pendapatan
0,415454,RSJ dr Soeharto Heerdjan,2016,130,371,300,91952300822,2762,40283,55.8150,22.0000,2.2725,18.0000,3.050408e+10
1,415505,RS Marzuki Mahdi,2016,683,308,427,190127293278,8163,150449,48.8825,12.6375,4.3900,14.1575,1.640635e+11
2,415542,RSJ Soeroyo,2016,151,805,590,156613508835,9163,78419,54.8500,12.9000,1.3000,10.7750,1.299076e+11
3,415598,RSJ Lawang,2016,166,671,700,126306114000,6163,50235,67.1325,40.1850,1.5000,20.1075,4.765834e+10
4,415670,RS Ketergantungan Obat,2016,94,236,100,43690002935,330,44663,75.8475,38.6025,1.5800,15.7300,2.810848e+10

## Sub Kluster Paru

In [16]:
#Membagi ke masing-masing sub cluster
def klaster_paru(df):
    dea_paru = df[(df.Nama_satker == 'RS Rotinsulu') | (df.Nama_satker == 'RS Paru Ario Wirawan')|(df.Nama_satker == 'RS Paru Gunawan')]
    dea_paru.reset_index(drop=True, inplace=True)
    return dea_paru

In [17]:
df_paru_16 = klaster_paru(dea_2016)
df_paru_16

,DMU,Nama_satker,Tahun,(I)SDM_medis_total,(I)SDM_non_medis_total,(I)Jumlah_tempat_tidur,(I)Belanja,(O)Pasien_rawat_inap_orang,(O)Pasien_rawat_jalan_orang,(O)BOR_persen,(O)ALOS_hari,(O)BTO_kali,(O)TOI_hari,(O)Pendapatan
0,415485,RS Rotinsulu,2016,197,193,122,87767720780,4994,21343,51.7100,5.280,2.9825,5.0625,8.573458e+10
1,415511,RS Paru Gunawan,2016,95,348,173,103707950693,8304,46928,73.2875,6.225,3.4125,2.7000,1.442210e+11
2,415551,RS Paru Ario Wirawan,2016,94,375,162,75177488820,7861,27963,63.5925,5.750,3.7500,2.5000,1.128516e+11

## Sub Kluster Khusus Lain

In [18]:
def klaster_lain(df):
    dea_lain = df[(df.Nama_satker == 'RS Mata Cicendo') | (df.Nama_satker == 'RS Orthopedi')| (df.Nama_satker == 'RS. OTAK DR. Drs. Hatta BUKITTINGGI')| (df.Nama_satker == 'RSK Dharmais')|(df.Nama_satker == 'RS PON')|(df.Nama_satker == 'RS Jantung Harkit')|(df.Nama_satker == 'RSAB Harkit')|(df.Nama_satker == 'RSPI Sulianti Saroso')]
    dea_lain.reset_index(drop=True, inplace=True)
    return dea_lain

In [19]:
df_lain_16 = klaster_lain(dea_2016)
df_lain_16

,DMU,Nama_satker,Tahun,(I)SDM_medis_total,(I)SDM_non_medis_total,(I)Jumlah_tempat_tidur,(I)Belanja,(O)Pasien_rawat_inap_orang,(O)Pasien_rawat_jalan_orang,(O)BOR_persen,(O)ALOS_hari,(O)BTO_kali,(O)TOI_hari,(O)Pendapatan
0,15514,RS PON,2016,517,128,128,229259640027,3194,38661,63.7875,8.9150,2.0000,5.0850,1.015502e+11
1,257847,RS. OTAK DR. Drs. Hatta BUKITTINGGI,2016,164,416,176,120147341232,7635,39795,65.6650,5.6100,3.8350,3.0000,4.446990e+10
2,415491,RS Mata Cicendo,2016,140,357,104,193231674861,9904,161034,50.7925,1.8325,22.6675,2.0125,2.837988e+11
3,415567,RS Orthopedi,2016,172,448,138,248239570863,5067,77653,51.8275,5.0400,9.1550,5.0050,1.590332e+11
4,415706,RSPI Sulianti Saroso,2016,390,427,186,124664279708,6783,61672,39.6375,5.2500,8.2500,7.2500,1.009890e+11
5,520611,RSAB Harkit,2016,695,487,328,409816244838,12111,116730,50.4825,5.0350,9.2050,4.9375,2.095114e+11
6,520628,RS Jantung Harkit,2016,1133,636,331,1990272092103,12548,124087,64.8125,6.1950,9.4825,3.4050,1.588261e+12
7,548890,RSK Dharmais,2016,938,634,333,697725177900,11669,153161,76.8500,7.2000,8.9750,2.3750,8.288849e+11

## Sub Kluster Umum

In [20]:
def klaster_umum(df):
    dea_umum = df.loc[df.DMU.isin([415423,415432,415582,538815,415618,415624,548886,415479,415661,415448,415536,415573,532214,415397])]
    dea_umum.reset_index(drop=True, inplace=True)
    return dea_umum

In [21]:
df_umum_16 = klaster_umum(dea_2016)
df_umum_16

,DMU,Nama_satker,Tahun,(I)SDM_medis_total,(I)SDM_non_medis_total,(I)Jumlah_tempat_tidur,(I)Belanja,(O)Pasien_rawat_inap_orang,(O)Pasien_rawat_jalan_orang,(O)BOR_persen,(O)ALOS_hari,(O)BTO_kali,(O)TOI_hari,(O)Pendapatan
0,415423,RS Cipto Mangunkusumo,2016,1503,3990,915,4540392332667,32832,845944,70.2600,6.8600,8.9700,3.0400,4.349473e+12
1,415432,RS Fatmawati,2016,633,1886,745,857527800552,28575,329622,78.0025,7.8250,8.7250,2.4475,5.226500e+11
2,415448,RS Persahabatan,2016,1311,721,585,624678129197,26213,198493,69.1950,5.5075,10.5000,2.2700,7.127384e+11
3,415479,RSU HASAN SADIKIN BANDUNG,2016,2023,938,944,2215751189003,44168,399679,77.1750,6.0000,10.0000,2.5000,1.635361e+12
4,415536,RS Kariadi,2016,2244,884,1078,1126740141398,42373,490852,83.7850,7.7625,3.2750,1.5350,1.672025e+12
5,415573,RS Soeradji,2016,287,922,397,260159511203,23561,204321,73.6150,4.4350,14.8975,1.6475,1.583391e+11
6,415582,RSU SARDJITO YOGYAKARTA,2016,2108,844,813,920500821578,26958,224313,70.4300,8.0000,8.9950,3.0425,1.328561e+12
7,415618,RSU DR M JAMIL PADANG,2016,302,1554,800,1080925046138,29201,130096,63.1450,6.5325,2.4975,5.0225,4.923320e+11
8,415624,RSUP M Hoesin,2016,1626,1136,969,707400310897,35291,242624,75.8200,7.1050,9.1050,2.4300,4.246764e+11
9,415661,RS Sanglah Denpasar,2016,1428,1375,765,1760432825563,71122,216256,100.5125,4.3775,3.2500,-0.0875,1.215820e+12
10,532214,RS Adam Malik,2016,1676,633,696,704455209657,22805,206331,71.9525,5.2000,12.0625,2.1425,9.183842e+11
11,538815,RS Kandou Manado,2016,434,1584,794,674433226699,32947,170435,75.4575,5.0000,10.7500,1.7500,3.708699e+11
12,548886,RSU WAHIDIN MAKASSAR,2016,1242,977,841,620840952806,97685,145855,79.1775,6.7075,26.8850,1.7575,7.632922e+11

# Klaster Efisiensi

In [22]:
##Sub Klaster Efisiensi Tempat Tidur
def tempat_tidur(df):
    df_tidur = df.drop(['Nama_satker','Tahun','(I)Belanja','(O)Pasien_rawat_inap_orang','(O)Pasien_rawat_jalan_orang','(O)Pendapatan'],axis=1)
    return df_tidur

In [23]:
##Sub Klaster Efisiensi Rawat Inap
def rawat_inap(df):
    df_inap = df.drop(['Nama_satker','Tahun','(O)Pasien_rawat_jalan_orang'],axis=1)
    return df_inap

In [24]:
##Sub Klaster Efisiensi SDM
def sdm(df):
    df_sdm = df.drop(['Nama_satker','Tahun','(I)Jumlah_tempat_tidur','(I)Belanja','(O)BOR_persen','(O)ALOS_hari','(O)BTO_kali','(O)TOI_hari','(O)Pendapatan'],axis=1)
    return df_sdm

In [25]:
##Sub Klaster BOPO
def bopo(df):
    df_bopo = df.drop(['Nama_satker','Tahun','(I)Jumlah_tempat_tidur','(O)BOR_persen','(O)ALOS_hari','(O)BTO_kali','(O)TOI_hari','(I)SDM_medis_total','(I)SDM_non_medis_total','(O)Pasien_rawat_inap_orang','(O)Pasien_rawat_jalan_orang'],axis=1)
    return df_bopo

In [26]:
## Efisiensi Rawat Jalan
def rawat_jalan(df):
    df_jalan = df.drop(['Nama_satker','Tahun','(O)BOR_persen','(O)ALOS_hari','(O)BTO_kali','(O)TOI_hari','(O)Pasien_rawat_inap_orang','(I)Jumlah_tempat_tidur'],axis=1)
    return df_jalan

# TA 2016

In [27]:
df_eks_16 = klaster_eks(dea_2016)
df_jiwa_16 = klaster_jiwa(dea_2016)
df_paru_16 = klaster_paru(dea_2016)
df_lain_16 = klaster_lain(dea_2016)
df_umum_16 = klaster_umum(dea_2016)

## Eks 2016

In [28]:
df_tt_eks_16 = tempat_tidur(df_eks_16)
df_inap_eks_16 = rawat_inap(df_eks_16)
df_sdm_eks_16 = sdm(df_eks_16)
df_bopo_eks_16 = bopo(df_eks_16)
df_jalan_eks_16 = rawat_jalan(df_eks_16)
df_tt_eks_16.head()

,DMU,(I)SDM_medis_total,(I)SDM_non_medis_total,(I)Jumlah_tempat_tidur,(O)BOR_persen,(O)ALOS_hari,(O)BTO_kali,(O)TOI_hari
0,258462,178,300,150,29.00,7.0000,4.250,19.0000
1,415520,312,458,200,34.75,4.2500,3.000,6.7500
2,415630,165,168,208,23.23,6.7825,0.965,26.8775

## Jiwa 2016

In [29]:
df_tt_jiwa_16 = tempat_tidur(df_jiwa_16)
df_inap_jiwa_16 = rawat_inap(df_jiwa_16)
df_sdm_jiwa_16 = sdm(df_jiwa_16)
df_bopo_jiwa_16 = bopo(df_jiwa_16)
df_jalan_jiwa_16 = rawat_jalan(df_jiwa_16)
df_bopo_jiwa_16.head()

      DMU    (I)Belanja  (O)Pendapatan
0  415454   91952300822   3.050408e+10
1  415505  190127293278   1.640635e+11
2  415542  156613508835   1.299076e+11
3  415598  126306114000   4.765834e+10
4  415670   43690002935   2.810848e+10

## Paru 2016

In [30]:
df_tt_paru_16 = tempat_tidur(df_paru_16)
df_inap_paru_16 = rawat_inap(df_paru_16)
df_sdm_paru_16 = sdm(df_paru_16)
df_bopo_paru_16 = bopo(df_paru_16)
df_jalan_paru_16 = rawat_jalan(df_paru_16)
df_bopo_paru_16.head()

      DMU    (I)Belanja  (O)Pendapatan
0  415485   87767720780   8.573458e+10
1  415511  103707950693   1.442210e+11
2  415551   75177488820   1.128516e+11

## Khusus Lain 2016

In [31]:
df_tt_lain_16 = tempat_tidur(df_lain_16)
df_inap_lain_16 = rawat_inap(df_lain_16)
df_sdm_lain_16 = sdm(df_lain_16)
df_bopo_lain_16 = bopo(df_lain_16)
df_jalan_lain_16 = rawat_jalan(df_lain_16)
df_bopo_lain_16.head()

      DMU    (I)Belanja  (O)Pendapatan
0   15514  229259640027   1.015502e+11
1  257847  120147341232   4.446990e+10
2  415491  193231674861   2.837988e+11
3  415567  248239570863   1.590332e+11
4  415706  124664279708   1.009890e+11

## Umum 2016

In [32]:
df_tt_umum_16 = tempat_tidur(df_umum_16)
df_inap_umum_16 = rawat_inap(df_umum_16)
df_sdm_umum_16 = sdm(df_umum_16)
df_bopo_umum_16 = bopo(df_umum_16)
df_jalan_umum_16 = rawat_jalan(df_umum_16)
df_bopo_umum_16.head()

      DMU     (I)Belanja  (O)Pendapatan
0  415423  4540392332667   4.349473e+12
1  415432   857527800552   5.226500e+11
2  415448   624678129197   7.127384e+11
3  415479  2215751189003   1.635361e+12
4  415536  1126740141398   1.672025e+12

In [33]:
# #Export ke Excel (per klaster)
# df_eks_16.to_excel("df_eks_16.xlsx") 
# df_jiwa_16.to_excel("df_jiwa_16.xlsx") 
# df_paru_16.to_excel("df_paru_16.xlsx") 
# df_lain_16.to_excel("df_lain_16.xlsx") 
# df_umum_16.to_excel("df_umum_16.xlsx")

## PyDEA 2016

In [34]:
def input(df):
    df = df[['(I)SDM_medis_total','(I)SDM_non_medis_total','(I)Jumlah_tempat_tidur','(I)Belanja']]
    return df

def output(df):
    df = df[['(O)Pasien_rawat_inap_orang','(O)Pasien_rawat_jalan_orang','(O)BOR_persen','(O)ALOS_hari','(O)BTO_kali','(O)TOI_hari','(O)Pendapatan']]
    return df

In [35]:
def input_bopo(df):
    df = df[['(I)Belanja']]
    return df

def output_bopo(df):
    df = df[['(O)Pendapatan']]
    return df

In [36]:
#BOPO
input_eks_16 = input_bopo(df_eks_16)
output_eks_16 = input_bopo(df_eks_16)

In [37]:
import pydea as dea
uni_prob = dea.DEAProblem(input_eks_16, output_eks_16, returns='VRS')

In [38]:
myresults = uni_prob.solve()
myresults['Status']

0    Optimal
1    Optimal
2    Optimal
Name: Status, dtype: object

In [39]:
myresults['Efficiency']

0    1.0
1    1.0
2    1.0
Name: Efficiency, dtype: float64

In [40]:
myresults['Weights']

   in_(I)Belanja  out_(I)Belanja
0   1.182369e-11    1.182369e-11
1   1.025834e-11    1.025834e-11
2   2.257396e-11    0.000000e+00

# TA 2017

In [41]:
#Memetakan Data
df_eks_17 = klaster_eks(dea_2017)
df_jiwa_17 = klaster_jiwa(dea_2017)
df_paru_17 = klaster_paru(dea_2017)
df_lain_17 = klaster_lain(dea_2017)
df_umum_17 = klaster_umum(dea_2017)

## Eks 2017

In [42]:
df_tt_eks_17 = tempat_tidur(df_eks_17)
df_inap_eks_17 = rawat_inap(df_eks_17)
df_sdm_eks_17 = sdm(df_eks_17)
df_bopo_eks_17 = bopo(df_eks_17)
df_jalan_eks_17 = rawat_jalan(df_eks_17)
df_tt_eks_17.head()

,DMU,(I)SDM_medis_total,(I)SDM_non_medis_total,(I)Jumlah_tempat_tidur,(O)BOR_persen,(O)ALOS_hari,(O)BTO_kali,(O)TOI_hari
0,258462,177,300,150,28.7500,4.50,6.0000,8.25
1,415520,309,436,200,32.7500,4.00,3.0000,7.00
2,415630,179,126,184,17.9475,8.04,0.6525,39.17

## Jiwa 2017

In [43]:
df_tt_jiwa_17 = tempat_tidur(df_jiwa_17)
df_inap_jiwa_17 = rawat_inap(df_jiwa_17)
df_sdm_jiwa_17 = sdm(df_jiwa_17)
df_bopo_jiwa_17 = bopo(df_jiwa_17)
df_jalan_jiwa_17 = rawat_jalan(df_jiwa_17)
df_bopo_jiwa_17.head()

      DMU    (I)Belanja  (O)Pendapatan
0  415454  1.048270e+11   3.957379e+10
1  415505  1.803338e+11   1.327847e+11
2  415542  1.532945e+11   7.996928e+10
3  415598  1.280318e+11   5.633090e+10
4  415670  5.993167e+10   1.850951e+10

## Paru 2017

In [44]:
df_tt_paru_17 = tempat_tidur(df_paru_17)
df_inap_paru_17 = rawat_inap(df_paru_17)
df_sdm_paru_17 = sdm(df_paru_17)
df_bopo_paru_17 = bopo(df_paru_17)
df_jalan_paru_17 = rawat_jalan(df_paru_17)
df_bopo_paru_17.head()

      DMU    (I)Belanja  (O)Pendapatan
0  415485  8.471791e+10   4.695262e+10
1  415511  1.203693e+11   7.527025e+10
2  415551  9.278398e+10   5.708708e+10

## Khusus Lain 2017

In [45]:
df_tt_lain_17 = tempat_tidur(df_lain_17)
df_inap_lain_17 = rawat_inap(df_lain_17)
df_sdm_lain_17 = sdm(df_lain_17)
df_bopo_lain_17 = bopo(df_lain_17)
df_jalan_lain_17 = rawat_jalan(df_lain_17)
df_bopo_lain_17.head()

      DMU    (I)Belanja  (O)Pendapatan
0   15514  2.518652e+11   2.251923e+11
1  257847  1.249235e+11   4.830066e+10
2  415491  2.276267e+11   1.633393e+11
3  415567  3.076011e+11   1.663450e+11
4  415706  1.617623e+11   4.221077e+10

## Umum 2017

In [46]:
df_tt_umum_17 = tempat_tidur(df_umum_17)
df_inap_umum_17 = rawat_inap(df_umum_17)
df_sdm_umum_17 = sdm(df_umum_17)
df_bopo_umum_17 = bopo(df_umum_17)
df_jalan_umum_17 = rawat_jalan(df_umum_17)
df_bopo_umum_17.head()

      DMU    (I)Belanja  (O)Pendapatan
0  415423  4.931944e+12   4.491883e+12
1  415432  7.072516e+11   5.687698e+11
2  415448  5.450065e+11   3.903895e+11
3  415479  1.922639e+12   1.373063e+12
4  415536  1.267507e+12   1.050396e+12

In [47]:
# #Export ke Excel
# df_eks_17.to_excel("df_eks_17.xlsx") 
# df_jiwa_17.to_excel("df_jiwa_17.xlsx") 
# df_paru_17.to_excel("df_paru_17.xlsx") 
# df_lain_17.to_excel("df_lain_17.xlsx") 
# df_umum_17.to_excel("df_umum_17.xlsx")

# TA 2018

In [48]:
#Memetakan Data
df_eks_18 = klaster_eks(dea_2018)
df_jiwa_18 = klaster_jiwa(dea_2018)
df_paru_18 = klaster_paru(dea_2018)
df_lain_18 = klaster_lain(dea_2018)
df_umum_18 = klaster_umum(dea_2018)

## Eks 2018

In [49]:
df_tt_eks_18 = tempat_tidur(df_eks_18)
df_inap_eks_18 = rawat_inap(df_eks_18)
df_sdm_eks_18 = sdm(df_eks_18)
df_bopo_eks_18 = bopo(df_eks_18)
df_jalan_eks_18 = rawat_jalan(df_eks_18)
df_tt_eks_18.head()

,DMU,(I)SDM_medis_total,(I)SDM_non_medis_total,(I)Jumlah_tempat_tidur,(O)BOR_persen,(O)ALOS_hari,(O)BTO_kali,(O)TOI_hari
0,258462,190,300,150,44.5000,4.000,9.50,5.2500
1,415520,327,390,200,26.0000,4.000,2.75,9.5000
2,415630,85,228,184,16.5925,21.155,0.58,46.2525

## Jiwa 2018

In [50]:
df_tt_jiwa_18 = tempat_tidur(df_jiwa_18)
df_inap_jiwa_18 = rawat_inap(df_jiwa_18)
df_sdm_jiwa_18 = sdm(df_jiwa_18)
df_bopo_jiwa_18 = bopo(df_jiwa_18)
df_jalan_jiwa_18 = rawat_jalan(df_jiwa_18)
df_bopo_jiwa_18.head()

      DMU    (I)Belanja  (O)Pendapatan
0  415454  105036213391   4.203292e+10
1  415505  180459415294   9.695665e+10
2  415542  156161078068   7.385950e+10
3  415598  138640169958   6.038284e+10
4  415670   65015876896   2.052469e+10

## Paru 2018

In [51]:
df_tt_paru_18 = tempat_tidur(df_paru_18)
df_inap_paru_18 = rawat_inap(df_paru_18)
df_sdm_paru_18 = sdm(df_paru_18)
df_bopo_paru_18 = bopo(df_paru_18)
df_jalan_paru_18 = rawat_jalan(df_paru_18)
df_bopo_paru_18.head()

      DMU    (I)Belanja  (O)Pendapatan
0  415485  101214609580   4.975451e+10
1  415511  127080929017   5.967911e+10
2  415551  102017329062   4.037295e+10

## Khusus Lain 2018

In [52]:
df_tt_lain_18 = tempat_tidur(df_lain_18)
df_inap_lain_18 = rawat_inap(df_lain_18)
df_sdm_lain_18 = sdm(df_lain_18)
df_bopo_lain_18 = bopo(df_lain_18)
df_jalan_lain_18 = rawat_jalan(df_lain_18)
df_bopo_lain_18.head()

      DMU    (I)Belanja  (O)Pendapatan
0   15514  239534123869   2.000905e+11
1  257847  111441085215   4.922434e+10
2  415491  226867105757   1.665757e+11
3  415567  223950411012   1.625580e+11
4  415706  149233666198   3.884978e+10

## Umum 2018

In [53]:
df_tt_umum_18 = tempat_tidur(df_umum_18)
df_inap_umum_18 = rawat_inap(df_umum_18)
df_sdm_umum_18 = sdm(df_umum_18)
df_bopo_umum_18 = bopo(df_umum_18)
df_jalan_umum_18 = rawat_jalan(df_umum_18)
df_bopo_umum_18.head()

      DMU     (I)Belanja  (O)Pendapatan
0  415423  4483942314937   4.065349e+12
1  415432   684747058106   5.188550e+11
2  415448   551283935890   4.307535e+11
3  415479  2111921470548   1.856930e+12
4  415536  1366835163283   1.081450e+12

In [54]:
# #Export ke Excel
# df_eks_18.to_excel("df_eks_18.xlsx") 
# df_jiwa_18.to_excel("df_jiwa_18.xlsx") 
# df_paru_18.to_excel("df_paru_18.xlsx") 
# df_lain_18.to_excel("df_lain_18.xlsx") 
# df_umum_18.to_excel("df_umum_18.xlsx")

# TA 2019

In [55]:
#Memetakan Data
df_eks_19 = klaster_eks(dea_2019)
df_jiwa_19 = klaster_jiwa(dea_2019)
df_paru_19 = klaster_paru(dea_2019)
df_lain_19 = klaster_lain(dea_2019)
df_umum_19 = klaster_umum(dea_2019)

## Eks 2019

In [56]:
df_tt_eks_19 = tempat_tidur(df_eks_19)
df_inap_eks_19 = rawat_inap(df_eks_19)
df_sdm_eks_19 = sdm(df_eks_19)
df_bopo_eks_19 = bopo(df_eks_19)
df_jalan_eks_19 = rawat_jalan(df_eks_19)
df_tt_eks_19.head()

,DMU,(I)SDM_medis_total,(I)SDM_non_medis_total,(I)Jumlah_tempat_tidur,(O)BOR_persen,(O)ALOS_hari,(O)BTO_kali,(O)TOI_hari
0,258462,200,311,150,44.745,4.0825,10.5000,4.8325
1,415520,329,386,200,20.750,4.5000,2.0000,14.2500
2,415630,141,241,150,11.775,4.3300,0.9375,30.7650

## Jiwa 2019

In [57]:
df_tt_jiwa_19 = tempat_tidur(df_jiwa_19)
df_inap_jiwa_19 = rawat_inap(df_jiwa_19)
df_sdm_jiwa_19 = sdm(df_jiwa_19)
df_bopo_jiwa_19 = bopo(df_jiwa_19)
df_jalan_jiwa_19 = rawat_jalan(df_jiwa_19)
df_bopo_jiwa_19.head()

      DMU    (I)Belanja  (O)Pendapatan
0  415454  111200997730   4.630890e+10
1  415505  177254650175   8.743564e+10
2  415542  153932821629   7.426715e+10
3  415598  133993015286   5.722202e+10
4  415670   85175604294   2.724583e+10

## Paru 2019

In [58]:
df_tt_paru_19 = tempat_tidur(df_paru_19)
df_inap_paru_19 = rawat_inap(df_paru_19)
df_sdm_paru_19 = sdm(df_paru_19)
df_bopo_paru_19 = bopo(df_paru_19)
df_jalan_paru_19 = rawat_jalan(df_paru_19)
df_bopo_paru_19.head()

      DMU    (I)Belanja  (O)Pendapatan
0  415485  100680532086   7.379245e+10
1  415511  133145976609   6.968052e+10
2  415551  105166915355   5.756448e+10

## Khusus Lain 2019

In [59]:
df_tt_lain_19 = tempat_tidur(df_lain_19)
df_inap_lain_19 = rawat_inap(df_lain_19)
df_sdm_lain_19 = sdm(df_lain_19)
df_bopo_lain_19 = bopo(df_lain_19)
df_jalan_lain_19 = rawat_jalan(df_lain_19)
df_bopo_lain_19.head()

      DMU    (I)Belanja  (O)Pendapatan
0   15514  281356737974   2.027352e+11
1  257847  135254263783   4.673560e+10
2  415491  239146299609   1.829553e+11
3  415567  189948244854   2.070033e+11
4  415706  162238386984   5.628037e+10

## Umum 2019

In [60]:
df_tt_umum_19 = tempat_tidur(df_umum_19)
df_inap_umum_19 = rawat_inap(df_umum_19)
df_sdm_umum_19 = sdm(df_umum_19)
df_bopo_umum_19 = bopo(df_umum_19)
df_jalan_umum_19 = rawat_jalan(df_umum_19)
df_bopo_umum_19.head()

      DMU     (I)Belanja  (O)Pendapatan
0  415423  4732976201114   4.650169e+12
1  415432   813774969184   6.252223e+11
2  415448   692417365106   4.673891e+11
3  415479  2523386574580   2.355905e+12
4  415536  1414532643748   1.227744e+12

In [61]:
# #Export ke Excel
# df_eks_19.to_excel("df_eks_19.xlsx") 
# df_jiwa_19.to_excel("df_jiwa_19.xlsx") 
# df_paru_19.to_excel("df_paru_19.xlsx") 
# df_lain_19.to_excel("df_lain_19.xlsx") 
# df_umum_19.to_excel("df_umum_19.xlsx")

# TA 2020

In [62]:
#Memetakan Data
df_eks_20 = klaster_eks(dea_2020)
df_jiwa_20 = klaster_jiwa(dea_2020)
df_paru_20 = klaster_paru(dea_2020)
df_lain_20 = klaster_lain(dea_2020)
df_umum_20 = klaster_umum(dea_2020)

## Eks 2020

In [63]:
df_tt_eks_20 = tempat_tidur(df_eks_20)
df_inap_eks_20 = rawat_inap(df_eks_20)
df_sdm_eks_20 = sdm(df_eks_20)
df_bopo_eks_20 = bopo(df_eks_20)
df_jalan_eks_20 = rawat_jalan(df_eks_20)
df_tt_eks_20.head()

,DMU,(I)SDM_medis_total,(I)SDM_non_medis_total,(I)Jumlah_tempat_tidur,(O)BOR_persen,(O)ALOS_hari,(O)BTO_kali,(O)TOI_hari
0,258462,211,337,200,25.9125,6.250,4.5000,25.8325
1,415520,326,384,200,16.0000,4.000,1.2500,21.2500
2,415630,92,264,150,10.7975,3.785,0.8725,33.8975

## Jiwa 2020

In [64]:
df_tt_jiwa_20 = tempat_tidur(df_jiwa_20)
df_inap_jiwa_20 = rawat_inap(df_jiwa_20)
df_sdm_jiwa_20 = sdm(df_jiwa_20)
df_bopo_jiwa_20 = bopo(df_jiwa_20)
df_jalan_jiwa_20 = rawat_jalan(df_jiwa_20)
df_bopo_jiwa_20.head()

      DMU    (I)Belanja  (O)Pendapatan
0  415454  122892356084    56967776933
1  415505  197206589141    83126929577
2  415542  160213540362    99003192929
3  415598  138541840228    61110589539
4  415670   85059854041    21128994734

## Paru 2020

In [65]:
df_tt_paru_20 = tempat_tidur(df_paru_20)
df_inap_paru_20 = rawat_inap(df_paru_20)
df_sdm_paru_20 = sdm(df_paru_20)
df_bopo_paru_20 = bopo(df_paru_20)
df_jalan_paru_20 = rawat_jalan(df_paru_20)
df_bopo_paru_20.head()

      DMU    (I)Belanja  (O)Pendapatan
0  415485  124476999143    88152391875
1  415511  153364486523    92185175562
2  415551  150425766705    73534060479

## Khusus Lain 2020

In [66]:
df_tt_lain_20 = tempat_tidur(df_lain_20)
df_inap_lain_20 = rawat_inap(df_lain_20)
df_sdm_lain_20 = sdm(df_lain_20)
df_bopo_lain_20 = bopo(df_lain_20)
df_jalan_lain_20 = rawat_jalan(df_lain_20)
df_bopo_lain_20.head()

      DMU         (I)Belanja  (O)Pendapatan
0   15514       338898884632   280512704363
1  257847       109835244465    47171479761
2  415491       206124518653   158110957093
3  415567       229335643586   207003296738
4  415706  12138804309763460   127946067689

## Umum 2020

In [67]:
df_tt_umum_20 = tempat_tidur(df_umum_20)
df_inap_umum_20 = rawat_inap(df_umum_20)
df_sdm_umum_20 = sdm(df_umum_20)
df_bopo_umum_20 = bopo(df_umum_20)
df_jalan_umum_20 = rawat_jalan(df_umum_20)
df_bopo_umum_20.head()

      DMU     (I)Belanja  (O)Pendapatan
0  415423  4613567912104  4375280607138
1  415432  1344478499188  1155591635823
2  415448   721135066740   542836214595
3  415479  2203086528683  2319088095658
4  415536  1401251758511  1395473558247

In [68]:
# #Export ke Excel
# df_eks_20.to_excel("df_eks_20.xlsx") 
# df_jiwa_20.to_excel("df_jiwa_20.xlsx") 
# df_paru_20.to_excel("df_paru_20.xlsx") 
# df_lain_20.to_excel("df_lain_20.xlsx") 
# df_umum_20.to_excel("df_umum_20.xlsx")

# Export ke Excel

## 2016

In [69]:
# #Export ke Excel (per klaster)
# df_eks_16.to_excel("df_eks_16.xlsx") 
# df_jiwa_16.to_excel("df_jiwa_16.xlsx") 
# df_paru_16.to_excel("df_paru_16.xlsx") 
# df_lain_16.to_excel("df_lain_16.xlsx") 
# df_umum_16.to_excel("df_umum_16.xlsx")

### Eks Khusus

In [70]:
df_tt_eks_16.to_excel('df_tt_eks_16.xlsx',index=False)
df_inap_eks_16.to_excel('df_inap_eks_16.xlsx',index=False)
df_sdm_eks_16.to_excel('df_sdm_eks_16.xlsx',index=False)
df_bopo_eks_16.to_excel('df_bopo_eks_16.xlsx',index=False)
df_jalan_eks_16.to_excel('df_jalan_eks_16.xlsx',index=False)

### Jiwa

In [71]:
df_tt_jiwa_16.to_excel('df_tt_jiwa_16.xlsx',index=False)
df_inap_jiwa_16.to_excel('df_inap_jiwa_16.xlsx',index=False)
df_sdm_jiwa_16.to_excel('df_sdm_jiwa_16.xlsx',index=False)
df_bopo_jiwa_16.to_excel('df_bopo_jiwa_16.xlsx',index=False)
df_jalan_jiwa_16.to_excel('df_jalan_jiwa_16.xlsx',index=False)

### Paru

In [72]:
df_tt_paru_16.to_excel('df_tt_paru_16.xlsx',index=False)
df_inap_paru_16.to_excel('df_inap_paru_16.xlsx',index=False)
df_sdm_paru_16.to_excel('df_sdm_paru_16.xlsx',index=False)
df_bopo_paru_16.to_excel('df_bopo_paru_16.xlsx',index=False)
df_jalan_paru_16.to_excel('df_jalan_paru_16.xlsx',index=False)

### Khusus Lain

In [73]:
df_tt_lain_16.to_excel('df_tt_lain_16.xlsx',index=False)
df_inap_lain_16.to_excel('df_inap_lain_16.xlsx',index=False)
df_sdm_lain_16.to_excel('df_sdm_lain_16.xlsx',index=False)
df_bopo_lain_16.to_excel('df_bopo_lain_16.xlsx',index=False)
df_jalan_lain_16.to_excel('df_jalan_lain_16.xlsx',index=False)

### Umum

In [74]:
df_tt_umum_16.to_excel('df_tt_umum_16.xlsx',index=False)
df_inap_umum_16.to_excel('df_inap_umum_16.xlsx',index=False)
df_sdm_umum_16.to_excel('df_sdm_umum_16.xlsx',index=False)
df_bopo_umum_16.to_excel('df_bopo_umum_16.xlsx',index=False)
df_jalan_umum_16.to_excel('df_jalan_umum_16.xlsx',index=False)

## 2017

### Eks Khusus

In [75]:
df_tt_eks_17.to_excel('df_tt_eks_17.xlsx',index=False)
df_inap_eks_17.to_excel('df_inap_eks_17.xlsx',index=False)
df_sdm_eks_17.to_excel('df_sdm_eks_17.xlsx',index=False)
df_bopo_eks_17.to_excel('df_bopo_eks_17.xlsx',index=False)
df_jalan_eks_17.to_excel('df_jalan_eks_17.xlsx',index=False)

### Jiwa

In [76]:
df_tt_jiwa_17.to_excel('df_tt_jiwa_17.xlsx',index=False)
df_inap_jiwa_17.to_excel('df_inap_jiwa_17.xlsx',index=False)
df_sdm_jiwa_17.to_excel('df_sdm_jiwa_17.xlsx',index=False)
df_bopo_jiwa_17.to_excel('df_bopo_jiwa_17.xlsx',index=False)
df_jalan_jiwa_17.to_excel('df_jalan_jiwa_17.xlsx',index=False)

### Paru

In [77]:
df_tt_paru_17.to_excel('df_tt_paru_17.xlsx',index=False)
df_inap_paru_17.to_excel('df_inap_paru_17.xlsx',index=False)
df_sdm_paru_17.to_excel('df_sdm_paru_17.xlsx',index=False)
df_bopo_paru_17.to_excel('df_bopo_paru_17.xlsx',index=False)
df_jalan_paru_17.to_excel('df_jalan_paru_17.xlsx',index=False)

### Khusus Lain

In [78]:
df_tt_lain_17.to_excel('df_tt_lain_17.xlsx',index=False)
df_inap_lain_17.to_excel('df_inap_lain_17.xlsx',index=False)
df_sdm_lain_17.to_excel('df_sdm_lain_17.xlsx',index=False)
df_bopo_lain_17.to_excel('df_bopo_lain_17.xlsx',index=False)
df_jalan_lain_17.to_excel('df_jalan_lain_17.xlsx',index=False)

### Umum

In [79]:
df_tt_umum_17.to_excel('df_tt_umum_17.xlsx',index=False)
df_inap_umum_17.to_excel('df_inap_umum_17.xlsx',index=False)
df_sdm_umum_17.to_excel('df_sdm_umum_17.xlsx',index=False)
df_bopo_umum_17.to_excel('df_bopo_umum_17.xlsx',index=False)
df_jalan_umum_17.to_excel('df_jalan_umum_17.xlsx',index=False)

## 2018

### Eks Khusus

In [80]:
df_tt_eks_18.to_excel('df_tt_eks_18.xlsx',index=False)
df_inap_eks_18.to_excel('df_inap_eks_18.xlsx',index=False)
df_sdm_eks_18.to_excel('df_sdm_eks_18.xlsx',index=False)
df_bopo_eks_18.to_excel('df_bopo_eks_18.xlsx',index=False)
df_jalan_eks_18.to_excel('df_jalan_eks_18.xlsx',index=False)

### Jiwa

In [81]:
df_tt_jiwa_18.to_excel('df_tt_jiwa_18.xlsx',index=False)
df_inap_jiwa_18.to_excel('df_inap_jiwa_18.xlsx',index=False)
df_sdm_jiwa_18.to_excel('df_sdm_jiwa_18.xlsx',index=False)
df_bopo_jiwa_18.to_excel('df_bopo_jiwa_18.xlsx',index=False)
df_jalan_jiwa_18.to_excel('df_jalan_jiwa_18.xlsx',index=False)

### Paru

In [82]:
df_tt_paru_18.to_excel('df_tt_paru_18.xlsx',index=False)
df_inap_paru_18.to_excel('df_inap_paru_18.xlsx',index=False)
df_sdm_paru_18.to_excel('df_sdm_paru_18.xlsx',index=False)
df_bopo_paru_18.to_excel('df_bopo_paru_18.xlsx',index=False)
df_jalan_paru_18.to_excel('df_jalan_paru_18.xlsx',index=False)

### Khusus Lain

In [83]:
df_tt_lain_18.to_excel('df_tt_lain_18.xlsx',index=False)
df_inap_lain_18.to_excel('df_inap_lain_18.xlsx',index=False)
df_sdm_lain_18.to_excel('df_sdm_lain_18.xlsx',index=False)
df_bopo_lain_18.to_excel('df_bopo_lain_18.xlsx',index=False)
df_jalan_lain_18.to_excel('df_jalan_lain_18.xlsx',index=False)

### Umum

In [84]:
df_tt_umum_18.to_excel('df_tt_umum_18.xlsx',index=False)
df_inap_umum_18.to_excel('df_inap_umum_18.xlsx',index=False)
df_sdm_umum_18.to_excel('df_sdm_umum_18.xlsx',index=False)
df_bopo_umum_18.to_excel('df_bopo_umum_18.xlsx',index=False)
df_jalan_umum_18.to_excel('df_jalan_umum_18.xlsx',index=False)

## 2019

### Eks Khusus

In [85]:
df_tt_eks_19.to_excel('df_tt_eks_19.xlsx',index=False)
df_inap_eks_19.to_excel('df_inap_eks_19.xlsx',index=False)
df_sdm_eks_19.to_excel('df_sdm_eks_19.xlsx',index=False)
df_bopo_eks_19.to_excel('df_bopo_eks_19.xlsx',index=False)
df_jalan_eks_19.to_excel('df_jalan_eks_19.xlsx',index=False)

### Jiwa

In [86]:
df_tt_jiwa_19.to_excel('df_tt_jiwa_19.xlsx',index=False)
df_inap_jiwa_19.to_excel('df_inap_jiwa_19.xlsx',index=False)
df_sdm_jiwa_19.to_excel('df_sdm_jiwa_19.xlsx',index=False)
df_bopo_jiwa_19.to_excel('df_bopo_jiwa_19.xlsx',index=False)
df_jalan_jiwa_19.to_excel('df_jalan_jiwa_19.xlsx',index=False)

### Paru

In [87]:
df_tt_paru_19.to_excel('df_tt_paru_19.xlsx',index=False)
df_inap_paru_19.to_excel('df_inap_paru_19.xlsx',index=False)
df_sdm_paru_19.to_excel('df_sdm_paru_19.xlsx',index=False)
df_bopo_paru_19.to_excel('df_bopo_paru_19.xlsx',index=False)
df_jalan_paru_19.to_excel('df_jalan_paru_19.xlsx',index=False)

### Khusus Lain

In [88]:
df_tt_lain_19.to_excel('df_tt_lain_19.xlsx',index=False)
df_inap_lain_19.to_excel('df_inap_lain_19.xlsx',index=False)
df_sdm_lain_19.to_excel('df_sdm_lain_19.xlsx',index=False)
df_bopo_lain_19.to_excel('df_bopo_lain_19.xlsx',index=False)
df_jalan_lain_19.to_excel('df_jalan_lain_19.xlsx',index=False)

### Umum

In [89]:
df_tt_umum_19.to_excel('df_tt_umum_19.xlsx',index=False)
df_inap_umum_19.to_excel('df_inap_umum_19.xlsx',index=False)
df_sdm_umum_19.to_excel('df_sdm_umum_19.xlsx',index=False)
df_bopo_umum_19.to_excel('df_bopo_umum_19.xlsx',index=False)
df_jalan_umum_19.to_excel('df_jalan_umum_19.xlsx',index=False)

## 2020

### Eks Khusus

In [90]:
df_tt_eks_20.to_excel('df_tt_eks_20.xlsx',index=False)
df_inap_eks_20.to_excel('df_inap_eks_20.xlsx',index=False)
df_sdm_eks_20.to_excel('df_sdm_eks_20.xlsx',index=False)
df_bopo_eks_20.to_excel('df_bopo_eks_20.xlsx',index=False)
df_jalan_eks_20.to_excel('df_jalan_eks_20.xlsx',index=False)

### Jiwa

In [91]:
df_tt_jiwa_20.to_excel('df_tt_jiwa_20.xlsx',index=False)
df_inap_jiwa_20.to_excel('df_inap_jiwa_20.xlsx',index=False)
df_sdm_jiwa_20.to_excel('df_sdm_jiwa_20.xlsx',index=False)
df_bopo_jiwa_20.to_excel('df_bopo_jiwa_20.xlsx',index=False)
df_jalan_jiwa_20.to_excel('df_jalan_jiwa_20.xlsx',index=False)

### Paru

In [92]:
df_tt_paru_20.to_excel('df_tt_paru_20.xlsx',index=False)
df_inap_paru_20.to_excel('df_inap_paru_20.xlsx',index=False)
df_sdm_paru_20.to_excel('df_sdm_paru_20.xlsx',index=False)
df_bopo_paru_20.to_excel('df_bopo_paru_20.xlsx',index=False)
df_jalan_paru_20.to_excel('df_jalan_paru_20.xlsx',index=False)

### Khusus Lain

In [93]:
df_tt_lain_20.to_excel('df_tt_lain_20.xlsx',index=False)
df_inap_lain_20.to_excel('df_inap_lain_20.xlsx',index=False)
df_sdm_lain_20.to_excel('df_sdm_lain_20.xlsx',index=False)
df_bopo_lain_20.to_excel('df_bopo_lain_20.xlsx',index=False)
df_jalan_lain_20.to_excel('df_jalan_lain_20.xlsx',index=False)

### Umum

In [94]:
df_tt_umum_20.to_excel('df_tt_umum_20.xlsx',index=False)
df_inap_umum_20.to_excel('df_inap_umum_20.xlsx',index=False)
df_sdm_umum_20.to_excel('df_sdm_umum_20.xlsx',index=False)
df_bopo_umum_20.to_excel('df_bopo_umum_20.xlsx',index=False)
df_jalan_umum_20.to_excel('df_jalan_umum_20.xlsx',index=False)